<div class="container-fluid mt-4">
 <div class="row mt-2">
     <div class="col-md-8 ml-0">

<h1 class="h1 text-right" style="font-family: 'Train One', cursive;" ><strong>Github Search</strong></h1></div>
<div class="col-md-4 ml-0 ">
<img src="./../../assets/download.jpeg"  width="100px" height="50px" alt="search"></div>
 </div>

<p class="p1 text-center mt-3 mb-3">Ever wanted to access someone's github account and don't know how, Github-Search got your back!All you need to do is input the github username and viola the account and its details will be right there  </p>
<div class="form" style="background-color:transparent"><app-search-form (addUser)="addNewUser($event)"></app-search-form></div>





</div>

