<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form (ngSubmit)='submitUser()' #searchformForm='ngForm'>
            <div class="mb-3 text-center">
                <label for="username" class="form-label text-center"><strong>Username</strong> </label>
                <input type="text" class="form-control" id="username" placeholder="input the username here"
                    [(ngModel)]="newUser.username" name="username" #username='ngModel' required>
          <div [hidden]="username.valid || username.pristine" class="alert alert-danger">
            <p>Username is required</p>
          </div>
            </div><br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>